@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TimesDot';
  src: url('TimesDotRom.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* 2. Apply it globally (optional) */
body {
  font-family: 'TimesDot';

}
/* Global reset */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


.sortable-ghost {
  opacity: 0.5;
}
.reload-btn {
  font-family: 'TimesDot';
  z-index: 99999;
  all: unset;
  cursor: pointer;
  font-size: 1.4rem;
  padding: 0.3rem 0.6rem;
  color: white;
  border-radius: 999px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0.8);
  transition: background 0.2s ease;
}

.reload-btn:hover {
  background:#3AEA00;
}

.top-nav {
  position: fixed;

  display: flex;
  gap: 0.75rem;
  z-index: 99999;
  background: transparent;
  bottom:10px;
  right: 50%;

}
.top-nav a {
  text-decoration: none;

}