@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;






@font-face {
  font-family: 'TimesDot';
  src: url('TimesDotRom.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* 2. Apply it globally (optional) */
body {
  font-family: 'TimesDot';

}
/* Global reset */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


.sortable-ghost {
  opacity: 0.5;
}
